@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome">
    <h1 class="display-4">Welcome</h1>
    <p>This is Home Page of PizzApp!</p>
    <p>Choose "Search" in the navbar for search a Pizza by Name, Description or ID.</p>
    <p>Choose "Pizzas" to get them all!</p>
    <p>On Pizzas Page you will edit, delete, create and view details of pizzas.</p>
    <p>You could moreover sort Pizza by price or name. </p>
    <p>Be careful with Delete All button!</p>
</div>
